.nav > li, .pagination, .carousel a { cursor: pointer; }

html, body {
	height: 100%;
}

.container {
    width: inherit;
}

.navbar {
	border-radius: 0;
}

.nav-tabs {
    border-bottom: 0;
}

.settings-window {
	z-index: 10000;
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 20px;
	right: 20px;
	border-radius: 0;
	box-shadow: 0 0 3px 3px #ccc;
	margin-bottom: 0;
}

.stretchbox {
	display: flex;
	flex-direction: row;
	align-content: stretch;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-align-content: strech;

	padding-top: 60px;
	padding-left: 7px;
	height: 100%;
}

.flex-1 {
	flex: 1;
	-webkit-flex: 1;
}

.left-side {
	width: 30%;
	height: 100%;
}

.right-side {
	width: 69%;
	height: 100%;
	margin-left: 1%;
	.flex-1;
}

.list-group-item, .panel-heading {
    padding: 5px 10px;
}

.contact-list {
    overflow-y: auto;
    height: 100%;
}

.contact-add {
	margin-top: 40px;
}

.pad-leftside-controls {
	padding-top: 80px;
	.relative;

	.nav {
		.absolute;
		top: 80px;
	}

	.tab-content {
		margin-top: 40px;
		height: 100%;
	}

	.tab-pane {
		height: 100%;
	}
}

.relative {
	position: relative;
	height: 100%;
}

.absolute {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

.w100 {
	width: 100%;
}

.no-margin {
	margin: 0;
}


/*ChatWindow */
.span_chatWindow {
  overflow-y: scroll;
}

.user1 {
  color: #CC3333;
  font-family: Verdana;
}

.user2 {
  color: #0000CC;
  font-family: Verdana;
}

.time {
  color: #666600;
}