<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{contact.jid}}</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group" ng-switch on="contact.online">
            <li ng-switch-when="true" class="list-group-item"><span class="glyphicon glyphicon-ok-sign"></span> Online</li>
            <li ng-switch-default class="list-group-item"><span class="glyphicon glyphicon-question-sign"></span> Offline</li>
        </ul>

        <!--NachrichtenFrame-->
        <div class="row no-margin">

            <div class="span_chatWindow">

                <!--Eine Nachricht besteht aus username, chatMessage und time -->
                <div ng-repeat="message in messages | reverse">
                    <div class="col-sm-2">
                        <span class="message-user1">{{message.jid}}</span>
                    </div>
                    <div class="col-sm-8">

                        <p class="message-body">
                            {{message.body}}
                        </p>

                    </div>
                    <div class="col-sm-2">
                        <span class="message-time">time</span>
                    </div>
                    <br>
                    </br>
                </div>
            </div>

        </div>

        <br>
        </br>

        <!--Eingabefeld für neue Nachrichten-->
        <form ng-submit="send()">
            <div class="row no-margin">
                <div class=col-sm-10>
                    <input type="text" class="form-control" ng-model="msg">
                </div>
                <div class="col-sm-2">
                    <input type="submit" class="btn btn-info" value="Senden">
                </div>
            </div>
        </form>
    </div>
</div>