<div class="list-group absolute">
    <a class="list-group-item" ui-sref="main.index.contact(1)">Vince</a>
</div>

<div class="list-group absolute contact-add">
    <a class="list-group-item" href="" ng-click=""><span class="glyphicon glyphicon-plus-sign"></span> Kontakt hinzufügen</a>
</div>

<tabset class="pad-leftside-controls">
    <tab>
        <tab-heading>
            <span class="glyphicon glyphicon-user"></span> Kontakte
        </tab-heading>
        <div class="contact-list">
            <div class="list-group">
                <a class="list-group-item" ui-sref="main.index.contact({contactJid:contact.jid})" ng-repeat="contact in contacts | orderBy:['online', 'unread']:reverse">
                    <span ng-show="contact.unread" class="badge">{{contact.unread}}</span>
                    <span ng-switch on="contact.online">
                        <span ng-switch-when="true" class="glyphicon glyphicon-ok-sign"></span>
                        <span ng-switch-default class="glyphicon glyphicon-question-sign"></span>
                    </span>
                    {{contact.jid}}
                </a>
            </div>
        </div>
    </tab>
    <tab>
        <tab-heading>
            <span class="glyphicon glyphicon-time"></span> Konversationen
            <span class="badge">2</span>
        </tab-heading>
        <div class="contact-list">
            <div class="list-group">
                <a class="list-group-item" ui-sref="main.index.contact(1)">Moritz</a>
            </div>
        </div>
    </tab>
</tabset>