<div class="list-group">
    <a href="#" class="list-group-item">Vince</a>
</div>

<tabset>
    <tab>
        <tab-heading>
            <span class="glyphicon glyphicon-user"></span> Kontakte
        </tab-heading>
        <div class="list-group">
            <a href="#" class="list-group-item" ui-sref="main.index.contact({contactName:contact.name})" ng-repeat="contact in contacts">{{contact.name}}</a>
        </div>
    </tab>
    <tab>
        <tab-heading>
            <span class="glyphicon glyphicon-time"></span> Konversationen
            <span class="badge">2</span>
        </tab-heading>
        <div class="list-group">
            <a href="#" class="list-group-item">Moritz</a>
        </div>
    </tab>
</tabset>